body {
	font-family: 'Open Sans', sans-serif;
	background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;


}

.banner-title {
	width: 600px;
	align-self: center;
	font-size: 45px;
}

.banner-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 100px;
	text-align: justify;
}